body{
    margin: 0px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(0, 0, 0);
    padding: 10;
    margin-top: 10;
    background-color: white;
}
.body{
    padding: 40px;
    background-color:white;

}

.para{
    background-color: white;
}
.border{
   background-color:#E2E2E2;
   padding: 20px;
}
.its_easy_to_play_with_graczone{
    text-align: center;
    padding: 10px;
    color: black;
    background-color:#E2E2E2;

}
.images{
  
    display: flex;
    justify-content: center;
   
}

.images img{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    filter: drop-shadow(5px 5px 5px #000000);
   
}
figcaption{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    filter: drop-shadow(0px 3px 3px #000000);
}

.rank_img{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff;

}

.rank_img img{
    filter: drop-shadow(4px 4px 4px #000000);
    padding: 10px;
    margin-right: 100px;
}

.rank_img p{
    margin-left: 100px;
    margin-top: 120px;
    padding: 10px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.free_img{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    
}
.free_img img{

    filter: drop-shadow(4px 4px 4px #000000);
    padding: 10px;
    margin-left: 100px;

}

.free_img p{

    margin-right: 100px;
    margin-top: 60px;
    padding: 10px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.download_pallet{
    background-color: black;
    margin-top: 20px;

}
.download_pallet h1{
    color: white;
   margin: 0px 0px 0px 60px;
   font-size: 50px;
  
}

 .download_txt{
    justify-content: center;
    display: flex;
    padding-top: 15px;
    font-size: 50px;
    background-color: black;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
    
 
}
.download_pallet img{
    margin-left: 80px;
    margin-top: 50px;
   
}

.fix_btn{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

#kk{
    background-color: #0EA057;
    border-radius: 50px;
    border-color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
    
}
#kk a,b{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}



.earning{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #B8B8B8;
    font-size: larger;
    padding: 20px;
    padding-top:50px ;
    margin-bottom: 0px;
    margin-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: semi-expanded;
    background-color: black;
}



.privacy_terms{
    background-color: #292929;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px;
}
    

.privacy_terms a{
    text-decoration: none ;
    color: #898989;
    font-size: large;
}

.privacy_terms a:hover{
    text-decoration: none ;
    color:white;
}

.line {

    padding: 0px !important;
    margin: 0px !important;
    color: #707070 !important;
}
.risk{
    text-align: center;
    color: black;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    font-stretch: semi-expanded;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #898989;
    background-color: #fff;

}
.footer p{
    margin: 0px !important;
}









@media screen and (max-device-width: 1430px){    

    .body h2{
        font-size: large;
    }

    .para{
        font-size: small;
    }

    .its_easy_to_play_with_graczone{
        font-size: large;
    }

    figcaption{
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    figcaption p{
        font-size: 12px;
        padding: 3px;
    }

    .images{
        flex-direction: column;
        width: 100%;
        align-items: center;      
        text-align: center;  
    }
    
    .images img{
        height: 400px;
    }
    .rank_img img{
        width: 200px;
        height: 120px;
        margin: 0px;
        padding: 0px;
       
    }
    .rank_img p{
        margin: 0px;
        padding: 15px;
    }
   
    .free_img img{
        margin: 0px;
        width: 200px;
        height: 75px;
        padding: 0px;
    }
    .free_img p{
        margin:auto;
        padding: 10px;
        font-size: 10px;
    }
    .rank_img p{
        font-size: 10px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .download_txt{

        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-left: 0%;
        margin-top: 0px;
    }




    .download_pallet img{
        width: 70px;
        height: 20px;
        margin: 0px;
        padding: 10px;
    }
    .download_pallet p{
        margin-top: 20px;
        font-size: medium
    }
    .privacy_terms {
    
        padding: 10px ;
    }
    .privacy_terms a,p{
        font-size: small ;
    }
    .risk{
        font-size: 13px;
    }
    .footer{
        font-size: 8px;
    }
    .footer p{
        font-size: 8px;
    }
    .confirm{
        width: 207px;
    }
    .fix_btn{
        width: 100%;
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 9999;
        display: flex;
        transition: 0.5s;
        justify-content: center;
        position:-webkit-sticky; /* Safari */
        position: sticky;
        bottom:0;
        top:200px;
    }
    .fix_btn a{
        text-decoration: none;
        color: white;
    }

    #kk{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        border-radius: 8px;
        justify-content: center;
        width: 90%;
        }

        #kk a{
           font-size: 20px;
          
            }
        
.earning{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #B8B8B8;
    font-size: small;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: semi-expanded;
    background-color: black;
}

}